In [1]:
#importing libraries
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [4]:
# Load the dataset
df=pd.read_csv("/Users/Chinnu/Downloads/breast-cancer-wisconsin.data")
df.head()

NameError: name 'pd' is not defined

In [3]:
# naming the columns
df.columns = ["Id_number","Clump Thickness","Uniformity of Cell Size","Uniformity of Cell Shape","Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin","Normal Nucleoli","Mitoses","Class"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id_number                    698 non-null    int64
 1   Clump Thickness              698 non-null    int64
 2   Uniformity of Cell Size      698 non-null    int64
 3   Uniformity of Cell Shape     698 non-null    int64
 4   Marginal Adhesion            698 non-null    int64
 5   Single Epithelial Cell Size  698 non-null    int64
 6   Bare Nuclei                  698 non-null    object
 7   Bland Chromatin              698 non-null    int64
 8   Normal Nucleoli              698 non-null    int64
 9   Mitoses                      698 non-null    int64
 10  Class                        698 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

,Id_number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [4]:
df.describe()

,Id_number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.980000e+02,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000
mean,1.071807e+06,4.416905,3.137536,3.210602,2.809456,3.217765,3.438395,2.869628,1.590258,2.690544
std,6.175323e+05,2.817673,3.052575,2.972867,2.856606,2.215408,2.440056,3.055004,1.716162,0.951596
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.702582e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238354e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [5]:
#replacing missing values "?" with NaN
df.replace("?", np.nan, inplace=True)

In [6]:
# Identify missing values
df.isnull().sum()

Id_number                       0
Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [7]:
#converting the categorical column to numerical column
from sklearn.preprocessing import LabelEncoder

# Instantiate the LabelEncoder
label = LabelEncoder()

# Fit and transform the categorical column
df['Bare_Nuclei'] = label.fit_transform(df['Bare Nuclei'])

In [8]:
#dropping categorical column
df.drop('Bare Nuclei', axis=1, inplace=True)

In [9]:
#filling the missing values with mean 
df['Bare_Nuclei'].fillna(df['Bare_Nuclei'].mean(), inplace=True)
df.isnull().sum()

Id_number                      0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
Bare_Nuclei                    0
dtype: int64

In [10]:
#Dropping dulicates
df.drop_duplicates(inplace = True)

In [11]:
#converting numerical column to binary column
threshold = 5  # Example threshold value

# Perform binary encoding
df['binary_encoded_class'] = df['Class'].apply(lambda x: 1 if x > threshold else 0)

In [12]:
# Dividing the target and Encoding the using get_dummies 
X = pd.get_dummies(df.drop('Class', axis=1))
y = df['Class']

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=67)
# Scale the features using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Printing the shapes of X_train, y_train, X_test and y_test
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(552, 11)
(552,)
(138, 11)
(138,)

In [14]:
#Training the model using logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=67)
model.fit(X_train, y_train)

LogisticRegression(random_state=67)

In [15]:
from sklearn.metrics import accuracy_score, classification_report
y_pred = model.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Accuracy: 0.9492753623188406
Classification Report:
               precision    recall  f1-score   support

           2       0.96      0.97      0.96        93
           4       0.93      0.91      0.92        45

    accuracy                           0.95       138
   macro avg       0.94      0.94      0.94       138
weighted avg       0.95      0.95      0.95       138